[submodule "libraries/android_openssl"]
	path = libraries/android_openssl
	url = https://github.com/KDAB/android_openssl
	shallow = true
[submodule "libraries/libdatachannel"]
	path = libraries/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
	shallow = true
