name: Android Build

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true

jobs:
  build:
    name: Build ${{ matrix.arch }}
    runs-on: ubuntu-latest
    container:
      image: carlonluca/qt-dev:6.10.2
    strategy:
      matrix:
        include:
          - arch: armeabi-v7a
            qt_arch: android_armv7
          - arch: arm64-v8a
            qt_arch: android_arm64_v8a
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Prepare Signing Key
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > /tmp/release.keystore

      - name: Build and Sign APK (${{ matrix.arch }})
        run: |
          /opt/qt/6.10.2/${{ matrix.qt_arch }}/bin/qt-cmake -S . -B build-${{ matrix.arch }} -GNinja -DCMAKE_BUILD_TYPE=Release
          /opt/qt/6.10.2/${{ matrix.qt_arch }}/bin/qt-cmake --build ./build-${{ matrix.arch }} --target all
          /opt/Qt-amd64-6.10.2/bin/androiddeployqt \
            --input ./build-${{ matrix.arch }}/android-DialSome-deployment-settings.json \
            --output ./build-${{ matrix.arch }}/android-build \
            --android-platform android-36 \
            --jdk=/usr/lib/jvm/java-21-openjdk-amd64 \
            --gradle --release \
            --sign /tmp/release.keystore ${{ secrets.KEY_ALIAS }} \
            --storepass '${{ secrets.KEYSTORE_PASSWORD }}' \
            --keypass '${{ secrets.KEY_PASSWORD }}'

      - name: Rename APK for Release
        run: |
          mv "./build-${{ matrix.arch }}/android-build/build/outputs/apk/release/android-build-release-signed.apk" \
             "./DialSome-${{ inputs.version }}-${{ matrix.arch }}.apk"

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk-${{ matrix.arch }}
          path: ./DialSome-${{ inputs.version }}-${{ matrix.arch }}.apk
          retention-days: 1

      - name: Clean Sensitive Data
        if: always()
        run: rm -f /tmp/release.keystore
